header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  color: black;
  padding: 10px 10px 10px 10px;
}

header h3 {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding-left: 100px;
  font-family: "Ms Madi", cursive;
}

.icon {
  color: crimson;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  margin-right: 60px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.link:hover {
  height: 35px;
  width: 150px;
  background-color: crimson;
  color: white;
  border-radius: 10px;
  transition: 0.5s ease-in;
}

header p {
  font-size: 17px;
  align-items: center;
  justify-content: center;
  color: crimson;
  cursor: pointer;
}
