.about {
  height: 100vh;
  width: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  padding: 30px;
  background-color: gray;
}

.about p {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.review h2 {
  font-family: cookie;
  font-size: 30px;
}

.review input {
  margin: 10px;
  height: 10vh;
  width: 50vh;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.sub {
  height: 40px;
  width: 80px;
  background-color: crimson;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 260px;
}
